[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyyaml = "*"
requests = "*"
python-slugify = "*"
aiohttp = "*"
prometheus-client = "*"
hexbytes = "*"
nucypher = { ref = "v7.0.0-rc.9", git = "https://github.com/nucypher/nucypher.git" }

[dev-packages]

[requires]
python_version = "3.10"
